* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

html {
    background: rgba(0, 0, 0, 0) url("images/javascript_words-100159658-primary.idge-grey.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin-top: 15px;
    color: white;
    /*background: #f5f2f2;
       opacity: 0.5;*/
    border-radius: 0.5rem;
    padding: 1rem;
    width: 500px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/transparent.jpg");
}

section,
header {
    display: block;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.start {
    text-align: center;
}

.button-start {
    color: darkcyan;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
}

#question_wrapper {
    height: 160px;
}

.quiz-section {
    width: 100%;
}

#question {
    font-size: 15px;
    text-align: left;
}

#choices {
    font-size: 13px;
    margin-bottom: 5px;
}

s .question-number {
    float: left;
}

.option {
    margin-bottom: 10px;
    margin-right: 10px;
}

.button-nxt {
    float: right;
    margin-right: 10%;
}

.button-next,
.button-try {
    margin-left: 10px;
    padding: 0;
    float: right;
    width: 100px;
    height: 60px;
    color: darkcyan;
    border-radius: 15px;
    font-size: 20px;
}
